@import "tailwindcss";

.bg-primary {
    background-color: #82c0cb;
}

.bg-secondary {
    background-color: #02768f;
}
.bg-tertiary {
    background-color: #e0efff;
}

.bg-quartiary {
    background-color: #86e5a1;
}

.text-primary {
    color: #82c0cb;
}

.text-secondary {
    color: #02768f;
}